/* Unversal */

* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Nav */

.navigation-bar {
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-shrink: 1;
    z-index: 100;
    top: 0;
}


img.logo {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    margin-left: 10px;
    margin-top: 9px;
}

.navbar {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    flex-shrink: 1;
}

.navbar>a {
    margin-left: 15px;
}



/* Banner */

.banner {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-shrink: 1;
    margin-top: 69px;
}

.oatmeal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
    height: 700px;
    width: 100%;
    max-width: 1200px;
}

.mission {
    position: absolute;
    overflow: scroll;
    width: 1200px;
    max-width: 100%;
    top: 50%;
}

.mission h2 {
    margin: 10px;
}

.mission h4 {
    margin: 15px;
}


/* Tea of the Month */

.totm {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.tt {
    width: 300px;
    height: 200px;
}

.fig {
    margin: 10px;
}

figcaption {
    margin-top: 10px;
}

.tea {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

/* Locations */

.location {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    max-height: 500px;
    overflow: hidden;
}

.loc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    bottom: 75px;
}

.abs {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.box h3 {
    margin-top: 15px;
}

.tit {
    background-color: transparent;
    margin: 0
}

.dt,
.eb,
.oak {
    margin: 20px;
    width: 300px;
    opacity: 1;

}

/* About */


/* Footer */