/* Unversal */

* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Header */

.navigation-bar {
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}


img.logo {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    margin-left: 10px;
}

.navbar {
    display: inline-block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.navbar > a {
    margin: 15px;
}



/* Banner */


/* Tea of the Month */


/* Locations */


/* About */


/* Footer */